extends layout

block content
  p#data waiting...
    script.
        $(document).ready(function(){
          var ref = querystring('ref');
          var socket = io.connect('http://192.168.255.135:3000/');
          var started = false;
          var line = 0;
          socket.on(ref, function (data) {
            ++line;
            if(!started){
                $("#data").html('<div class="line"><div class="linenumber">'+line+'</div><div class="notif">'+data+'</div></div>');
                started = true;
            }else{
                $("#data").append('<div class="line"><div class="linenumber">'+line+'</div><div class="notif">'+data+'</div></div>');
            }
            $('html,body').scrollTop(100000000000000000);
          });
        });
        function querystring(key) {
           var re=new RegExp('(?:\\?|&)'+key+'=(.*?)(?=&|$)','gi');
           var r=[], m;
           while ((m=re.exec(document.location.search)) != null) r.push(m[1]);
           return r;
        }
