body {
  padding: 10px;
  font: 15px "courier new", Helvetica, Arial, sans-serif;
  background-color:#000000;
  color:#FFFFFF;
}

.line{
    clear:both;
}
.linenumber{
    float:left;
    width:100px;
}
.notoif

